main {
    padding-bottom: 300px;
    #container {
        display: grid;
        width: 96%;
        margin: 0 auto;
        grid-template-columns: 25% 25% 25% 25%;

        .card {
            color: #dbd9d9; 
            &:hover {
                transform: scale(1.1,1.1);
                transition-duration: 0.3s;
                color: white;
            }
            figure {
                margin: 18px;
            
                figcaption {
                    background-color: #4a00c2;  
                    height: 61px;
                    padding-top: 10px;
                    margin-top: -8px;
                    a {
                        color: #dbd9d9;
                        font-size: 25px;
                        
                    }
                }
            }
            img {
                width: 100%;
                margin-bottom: 8px;
            }
            width: 100%;  
            text-align: center;
        }
    }
}

.trans {
    transform: scale(1,1) !important;
    figure {
        margin: 0 !important;
    }
}

#button0,
#button1,
#button2,
#button3 {
    background-color: #4a00c2;
    border: none;
    outline: none;
    color: white;
    font-size: 1.8vw;
}

.container-expand {
    display: block !important;
}

.card-expand {
    display: flex !important;
}