form {
	margin: 50px 0px 0px 80px;
	text-align: center;
}

.form-ctrl {
	width: 35%;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #dbd9d9;
	font-size: 18px;
	font-weight: 100;
	color: #dbd9d9;
	margin-bottom: 10px;
	font-family: $font-secondary;
}

.form-ctrl:focus {
	border-bottom: 1px solid $secondary-color;
	transition: 400ms;
}

input {
	height: 40px;
}

form .form-ctrl-btn {
	background: transparent;
	border-color: #dbd9d9;
	border-style: solid;
	color: #dbd9d9;
	font-size: 19px;
	letter-spacing: 2px;
	height: 35px;
	width: 35%;
	margin-top: 20px;
}

form .form-ctrl-btn:hover {
	background-color: $primary-color;
	color: white;
	border-color: white;
	transition: 200ms;
    -webkit-filter: drop-shadow(1px 1px 7px $secondary-color);
    filter: drop-shadow(1px 1px 7px $secondary-color);
}

