form {
	margin: 50px 0px 0px 0px;
	text-align: center;
}
input::placeholder {
	color: #d8d8d8;
	opacity: 0.9;
	font-weight: 100;
}
textarea::placeholder {
	color: #d8d8d8;
	opacity: 0.9;
	font-weight: 100;
}



.form-ctrl {
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #dbd9d9;
	font-size: 18px;
	font-weight: 100;
	color: #dbd9d9;
	margin-bottom: 10px;
	font-family: $font-secondary;
}

.form-ctrl:focus {
	border-bottom: 1px solid $secondary-color;
	transition: 400ms;
}

input {
	height: 40px;
}

form .form-ctrl-btn {
	background: transparent;
	border-color: #dbd9d9;
	border-style: solid;
	color: #dbd9d9;
	font-size: 19px;
	letter-spacing: 2px;
	height: 35px;
	width: 100%;
	margin-top: 20px;
}

form .form-ctrl-btn:hover {
	background-color: $primary-color;
	color: white;
	border-color: white;
	transition: 200ms;
    -webkit-filter: drop-shadow(1px 1px 7px $secondary-color);
    filter: drop-shadow(1px 1px 7px $secondary-color);
}

.maps-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	.map {
		margin: 45px 0 0 0;
	}
}

@media screen and (max-width: 760px) {
	.contact-page {
		width: 80%;
	}
}

@media screen and (min-width: 761px) {
	.contact-page {
		width: 40%;
	}
}
