.nav {
	display: grid;
	grid-template-columns: 70% 10% 10% 10%;
	position: fixed;
	background-color: $primary-color;
	width: 100%;
	z-index: 1;
	
	.nav-tab-small {
		a {
			color: #dbd9d9;
			font-weight: 100;
			text-decoration: none;
			&:hover {
				color: white;
			}
		}
		align-self: center;
		justify-self: center;
	}
	.nav-tab-big {
		img {
			width: 15%;
			padding: 6px 0 0 40px;
		}	
		}
	}


	.nav.change {
		background-color: white;
		transition: all ease .3s;
		a {
			color: black;
			font-weight: 400;
		} a:hover {
			color: $secondary-color;
		}
	}

.nav-tab-big {
	img {
		-webkit-filter: drop-shadow(0 0 0 #707070);
    	filter: drop-shadow(0 0 0 #707070);
	}
	}
	

.nav-tab-big.change2 {
	img {
		-webkit-filter: drop-shadow(1px 1px 2px $primary-color);
    	filter: drop-shadow(1px 1px 2px $primary-color);
	
	}
	
}



