.nav {
	display: grid;
	grid-template-columns: 70% 10% 10% 10%;
	position: fixed;
	background-color: $primary-color;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid #dbd9d9;
	;

	.nav-tab-small {
		a {
			color: #dbd9d9;
			font-weight: 100;
			text-decoration: none;
			&:hover {
				color: white;
			}
		}
		align-self: center;
		justify-self: center;
	}
	.nav-tab-big {
		img {
			width: 15%;
			padding: 6px 0 0 40px;
		}	
		}
	}





