

.nav {
	display: grid;
	grid-template-columns: 70% 10% 10% 10%;
	position: fixed;
	background-color: $primary-color;
	width: 100%;
	margin-top: -19px;
	.nav-tab-small {
		a {
			color: #dbd9d9;
			font-weight: 100;
			text-decoration: none;
			&:hover {
				color: white;
				//font-weight: 400;
				//transition: 0.1s;
			}
		}
		align-self: center;
	}
	.nav-tab-big {
		img {
			width: 15%;
			padding-left: 40px;
		}	
		}
	}

