// VARIABLES
$primary-color: #2C008C;
$secondary-color: #06BEE1;
$font: 'Tajawal', sans-serif;


body {
    font-family: $font;
    background-color: $primary-color;
    margin: 0 auto;
}

.wrapper {
    padding-top: 90px;
}



// IMPORT
@import "navigation";

